@model Models.AdminModels.LiveAnimalViewModel;

@{
    ViewData["Title"] = "Add Animal";
    Layout = "_LayoutAdmin";
}


<div class="container m-auto">
    <div class="m-auto col-lg-9 p-5 bg-white">
        <h1 class="d-flex justify-content-center">Update Animal</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })
        <form id="animalUpdateForm" asp-action="UpdateAnimal" class="" autocomplete="off" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group" hidden="hidden">
                <label for="title">Id</label>
                <input asp-for="Id" class="form-control" id="id">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input asp-for="Title" class="form-control" id="title" placeholder="Enter Animal Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input asp-for="Price" class="form-control" id="price" placeholder="Enter Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select asp-for="Category" class="form-control" id="category" asp-items="@(new SelectList(@ViewBag.Categories,"Id","Name"))">
                    <option disabled selected value=""> -- Please Select -- </option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="origin">Origin</label>
                <input asp-for="Origin" class="form-control" id="origin" placeholder="Enter Origin">
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input asp-for="Color" class="form-control" id="color" placeholder="Enter Color">
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input asp-for="Location" class="form-control" id="location" placeholder="Enter Location">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="color">Is Featured ?</label>
                <select asp-for="Featured" class="form-control" id="feature">
                    <option disabled selected value=""> -- Please Select -- </option>
                    <option value = "true">Yes</option>
                    <option value = "false">False</option>
                </select>
                <span asp-validation-for="Featured" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="5" asp-for="Description" class="form-control" id="description" placeholder="Enter Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @{
                if (Model.Images != null)
                {
                    <h3 class="d-flex justify-content-center">Uploaded Images</h3>
                    <div class="row mt-5 mb-4">
                        
                        @{
                            foreach (var img in Model.Images)
                            {
                                <div class="col-lg-3">
                                    <div class="m-2 m-auto">
                                        <a target="_blank" href="~/images/@img">
                                            <img class="img-fluid" style="max-width: 100%; height: auto;" src="~/images/@img" alt="">
                                        </a>
                                        <button id="@img" name="@Model.Id" class="removeBtn btn btn-danger btn-block mt-2">Remove</button>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            }
            <div class="form-group">
                <label for="files">Upload New Image</label>
                <input type="file" class="form-control" id="files" name="files" multiple />
                
            </div>
            <div class="text-center">
                <button id="btn" class="btn btn-block btn-success m-b-20">Update Animal</button>
            </div>
        </form>

    </div>
</div>

<script>
    $(document).on('click', '.removeBtn', function (e) {
        e.preventDefault();
        let removeSection = $(this).parent().parent();
        let imgStr = $(this).attr("id");
        let itemStr = $(this).attr("name");
        
        
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '@Url.Action("RemoveImage", "AdminPanel")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: 'GET',
                    data: "imgId=" + imgStr+ "&itemId=" + itemStr,
                    success: function(response) {
                        if (response === true){
                            Swal.fire(
                              'Deleted!',
                              'Your file has been deleted.',
                              'success'
                            );
                            removeSection.remove();

                        }
                        else{
                            Swal.fire(
                                'Ops!',
                                "Couldn't delete image!",
                                'Failed'
                            );
                        }
                        
                    },
                    error: function(response) {
                        Swal.fire(
                            'Ops!',
                            'Internal Error!',
                            'Failed'
                        );
                    }
                });
            }
        });
    });
</script>
