@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@* Mobile NavBar *@

<div class="sidenav">


    <div id="mySidenav" style="text-align: center;overflow-y: scroll" class="sidenav-top sidenav">
        <a style="margin-top: 5%;" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a style="padding: 8px 8px 8px 32px;" href="@Url.Action("Index", "Home")" class="logo pull-left"><img style="display: block;width: 150px; height: 150px; margin-top: -50%" src="~/themes/images/logo.png" class="img-responsive site_logo" alt=""></a>

    </div>

    <div style="overflow-y: scroll" id="mySidenav-bottom" class="sidenav-bottom sidenav">
        <a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i> Home</a>

        <a style="cursor: pointer;" class="dropdown" href='@Url.Action("Index", "LiveAnimal")'><i class="fa fa-shopping-cart"></i> All Products </a>


        <a href='@Url.Action("FeatureProduct", "LiveAnimal")'><i class="fa fa-shopping-cart"></i> Premium Product</a>
        <a href='@Url.Action("NewProduct", "LiveAnimal")'><i class="fa fa-shopping-cart"></i> New Product</a>
        <a href="@Url.Action("Index", "Payment")"><i class="fa fa-comment-dollar"></i> Payment</a>
        <a href="@Url.Action("ChangeLanguage", "Home",new {_language = false})"> <i class="fa fa-language"></i> বাংলা</a>

    </div>

</div>

@* Mobile NavBar Opening Button *@
<div class="mobile_nav mobile_nav_icon" style="display: block">
    <span class="hamBurger" style="" onclick="openNav()">&#9776;</span>
    <form class="inline searchBar" method="get" asp-action="Index" asp-controller="LiveAnimal" style="margin-bottom: 0px; margin-right: 25px; float: right">
        <input name="title" style="margin-bottom: 0px;margin-right: 0" type="text" class="form-search" placeholder="Search"/>
        <button type="submit" style="margin-left: 0" class="btn btn-success"><i class="fa fa-search"></i></button>
    </form>
    @*<span class="farmhut-com-bd" style="font-size: 80%;font-family: 'Oleo Script Swash Caps', cursive;" >FarmHut</span>*@
</div>


@* PC NavBar *@

<section class="pc_nav navbar main-menu">
    <div class="navbar-inner main-menu" style="padding: 1%;">

        <a href="@Url.Action("Index", "Home")" class="logo pull-left"><img style="width: 180px; height: 90px;margin-top: -20px" src="~/themes/images/logo.png" class="site_logo" alt=""></a>
        <nav id="menu" class=" pull-right">
            <ul>

                <li><a href='@Url.Action("Index", "Home")'>Home</a></li>
                <li>
                    <a href='@Url.Action("Index", "LiveAnimal")'>All Products</a>

                </li>

                <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>Premium Product</a></li>
                <li><a href='@Url.Action("NewProduct", "LiveAnimal")'>New Product</a></li>
                <li><a href="@Url.Action("Index", "Payment")">Payment</a></li>
                <li><a href="@Url.Action("ChangeLanguage", "Home",new {_language = false})">বাংলা</a></li>

            </ul>
        </nav>
    </div>
</section>
