
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
 <section id="footer-bar" style="margin-top: 8%; padding-left: 3%; padding-top: 2%">
            <div class="row">
                <div class="span2">
                    <h4>নেভিগেশন</h4>
                    <ul class="nav">
                        <li><a href='@Url.Action("Index", "Home")'>হোমপেইজ</a></li>
                        <li><a href='@Url.Action("Index", "LiveAnimal")'>সব প্রোডাক্ট</a></li>
                        <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>প্রিমিয়াম প্রোডাক্ট</a></li>
                        <li><a href='@Url.Action("Index", "Payment")'>পেমেন্ট</a></li>
                        <li><a href='@Url.Action("AboutUs", "Home")'>আমাদের পরিচয়</a></li>
                        <li><a href='@Url.Action("AboutUs", "Home")'>যোগাযোগ</a></li>
                        <li><a href="#">লগইন</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <h4>প্রোডাক্ট</h4>
                    <ul class="nav">
                        <li><a href='@Url.Action("Index", "LiveAnimal")'>সব প্রোডাক্ট</a></li>
                        <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>প্রিমিয়াম প্রোডাক্ট</a></li>
                        <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>নতুন প্রোডাক্ট</a></li>

                    </ul>
                </div>

                <div class="span2">
                    <h4>যোগাযোগ</h4>
                    <span>Nazrul Islam</span>
                    <span>+88 0191280838</span>
                    <span>8, East Lichubagan</span>
                    <span>Tejgoan,Dhaka</span>
                </div>
                <div class="span1"></div>
                <div class="span4">
                    <p class="logo" style="margin-top:-1%"><img src="~/themes/images/logo_white.png" class="site_logo" alt=""></p>
                    <p style="margin-top: -7% ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been nd typesetting industry. the  Lorem Ipsum has been nd typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
                    <br />
                </div>
            </div>
        </section>
        <section id="copyright">
            <span>Developed By Team PiedPiper.  &nbsp; &nbsp;  Contact : +88 0149749434 </span>
        </section>
