@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="footer-bar" style="margin-top: 8%; padding-left: 3%; padding-top: 2%">
    <div class="row">
        <div class="span2">
            <h4>Navigation</h4>
            <ul class="nav">
                <li><a href='@Url.Action("Index", "Home")'>Homepage</a></li>
                <li><a href='@Url.Action("Index", "LiveAnimal")'>All Products</a></li>
                <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>Premium Products</a></li>
                <li><a href='@Url.Action("Index", "Payment")'>Payment</a></li>
                <li><a href='@Url.Action("AboutUs", "Home")'>About Us</a></li>
                <li><a href='@Url.Action("AboutUs", "Home")'>Contact Us</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="span2">
            <h4>Products</h4>
            <ul class="nav">
                <li><a href='@Url.Action("Index", "LiveAnimal")'>All Products</a></li>
                <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>Premium Products</a></li>
                <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>Latest Products</a></li>

            </ul>
        </div>

        <div class="span2">
            <h4>Contact</h4>
            <span>FarmHut.com.bd</span>
            <span>farmhut.bd@gmail.com</span>
            <span>+88 01633014949</span>
            <span>8, East Lichubagan</span>
            <span>Tejgoan,Dhaka</span>
        </div>
        <div class="span1"></div>
        <div class="span4">
            <p class="logo" style="margin-top:-1%"><img src="~/themes/images/logo_white.png" class="site_logo" alt=""></p>
            <p style="margin-top: -7% ">FarmHut was established with a view to develop a connection between the ranchers and consumers. In the crisis moment of COVID 19, it is very important for all of us to stay home and take care of our families. To ensure the safety and provide the best quality products to our customers we are continuously trying to collaborate with new farms so that we can offer multiple options to our customers from where they can choice the best products for them. 
            </p>
            <br />
        </div>
    </div>
</section>
<section id="copyright">
    <span>Developed By Team PiedPiper.  &nbsp; &nbsp;  Contact : +88 0149749434 </span>
</section>
