
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
 <section id="footer-bar" style="margin-top: 8%; padding-left: 3%; padding-top: 2%">
            <div class="row">
                <div class="span2">
                    <h4>নেভিগেশন</h4>
                    <ul class="nav">
                        <li><a href='@Url.Action("Index", "Home")'>হোমপেইজ</a></li>
                        <li><a href='@Url.Action("Index", "LiveAnimal")'>সব প্রোডাক্ট</a></li>
                        <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>প্রিমিয়াম প্রোডাক্ট</a></li>
                        <li><a href='@Url.Action("Index", "Payment")'>পেমেন্ট</a></li>
                        <li><a href='@Url.Action("AboutUs", "Home")'>আমাদের পরিচয়</a></li>
                        <li><a href='@Url.Action("AboutUs", "Home")'>যোগাযোগ</a></li>
                        <li><a href="#">লগইন</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <h4>প্রোডাক্ট</h4>
                    <ul class="nav">
                        <li><a href='@Url.Action("Index", "LiveAnimal")'>সব প্রোডাক্ট</a></li>
                        <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>প্রিমিয়াম প্রোডাক্ট</a></li>
                        <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>নতুন প্রোডাক্ট</a></li>

                    </ul>
                </div>

                <div class="span2">
                    <h4>যোগাযোগ</h4>
                    <span>Nazrul Islam</span>
                    <span>+88 0191280838</span>
                    <span>8, East Lichubagan</span>
                    <span>Tejgoan,Dhaka</span>
                </div>
                <div class="span1"></div>
                <div class="span4">
                    <p class="logo" style="margin-top:-1%"><img src="~/themes/images/logo_white.png" class="site_logo" alt=""></p>
                    <p style="margin-top: -7% ">আমাদের সম্পর্কে:
                        ফার্মহাট প্রতিষ্ঠিত হয়েছে খামারি এবং গ্রাহকদের মধ্যে সংযোগ বিকাশের লক্ষ্যে । কোভিড ১৯-এর সঙ্কটের মুহুর্তে, আমাদের সবার জন্য বাড়িতে থাকা এবং আমাদের পরিবারের যত্ন নেওয়া খুব গুরুত্বপূর্ণ। আর সেজন্যই গ্রাহকদের সুরক্ষা নিশ্চিত করতে এবং সেরা মানের পণ্য সরবরাহের জন্য আমরা ক্রমাগত নতুন খামারগুলির সাথে সহযোগিতা করার চেষ্টা করছি যাতে আমরা গ্রাহকদের কাছে একাধিক বিকল্প দিতে পারি যেখান থেকে তারা তাদের জন্য সেরা পণ্য বেছে নিতে পারে। আমরা এখানে প্রদর্শিত সমস্ত পণ্য শীর্ষ স্তরের ফার্মগুলি থেকে সংগ্রহ করা হয়েছে এবং ব্যাপক যত্ন সহ গ্রাহকের বাড়িতে বিক্রি করা হয়েছে।
                    </p>
                   <br />
                </div>
            </div>
        </section>
        <section id="copyright">
            <span>Developed By Team PiedPiper.  &nbsp; &nbsp;  Contact : +88 0149749434 </span>
        </section>
