<!DOCTYPE html>
<html lang="en">
<head>
    <link runat="server" rel="shortcut icon" href="~/themes/images/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/themes/images/favicon.ico" type="image/ico" />
    <meta charset="utf-8">
    <title>@ViewData["Title"] - WebService</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- bootstrap -->

    <link href="~/lib/bootstra/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstra/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/themes/css/bootstrappage.css" rel="stylesheet" />


    <!-- global styles -->
    <link href="~/themes/css/flexslider.css" rel="stylesheet" />
    <link href="~/themes/css/main.css" rel="stylesheet" />
    <link href="~/themes/css/jquery.fancybox.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="~/themes/js/jquery-1.7.2.min.js"></script>
    <script src="~/themes/js/superfish.js"></script>
    <script src="~/themes/js/jquery.scrolltotop.js"></script>
    <script src="~/themes/js/jquery.fancybox.js"></script>
    <script src="~/lib/bootstra/js/bootstrap.min.js"></script>
    <style>
        .text-danger {
            color: red;
        }

        :root {
            --logoGreen: #a3d39c;
        }
    </style>
    <script>
        var numbers = {
            '0': '০',
            '1': '১',
            '2': '২',
            '3': '৩',
            '4': '৪',
            '5': '৫',
            '6': '৬',
            '7': '৭',
            '8': '৮',
            '9': '৯'
        };

        function replaceNumbers(input) {
            var output = [];
            for (var i = 0; i < input.length; ++i) {
                if (numbers.hasOwnProperty(input[i])) {
                    output.push(numbers[input[i]]);
                } else {
                    output.push(input[i]);
                }
            }
            return output.join('');
        }

    </script>
</head>
<body>
    <div id="wrapper" class="container">
        @RenderBody()

        <section id="footer-bar" style="margin-top: 8%; padding-left: 3%; padding-top: 2%">
            <div class="row">
                <div class="span2">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li><a href='@Url.Action("Index", "Home")'>Homepage</a></li>
                        <li><a href='@Url.Action("Index", "LiveAnimal")'>All Products</a></li>
                        <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>Featured Products</a></li>
                        <li><a href='@Url.Action("Index", "Payment")'>Payment</a></li>
                        <li><a href='@Url.Action("AboutUs", "Home")'>About Us</a></li>
                        <li><a href='@Url.Action("AboutUs", "Home")'>Contact Us</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <h4>Products</h4>
                    <ul class="nav">
                        <li><a href='@Url.Action("Index", "LiveAnimal")'>All Products</a></li>
                        <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>Premium Products</a></li>
                        <li><a href='@Url.Action("FeatureProduct", "LiveAnimal")'>Latest Products</a></li>

                    </ul>
                </div>

                <div class="span2">
                    <h4>Contact</h4>
                    <span>Nazrul Islam</span>
                    <span>+88 0191280838</span>
                    <span>8, East Lichubagan</span>
                    <span>Tejgoan,Dhaka</span>
                </div>
                <div class="span1"></div>
                <div class="span4">
                    <p class="logo" style="margin-top:-1%"><img src="~/themes/images/logo_white.png" class="site_logo" alt=""></p>
                    <p style="margin-top: -7% ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been nd typesetting industry. the  Lorem Ipsum has been nd typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
                    <br />
                </div>
            </div>
        </section>
        <section id="copyright">
            <span>Developed By Team PiedPiper.  &nbsp; &nbsp;  Contact : +88 0149749434 </span>
        </section>

    </div>

</body>

</html>
