
<h4 class="carousel-normal title">
    <span class="pull-left"><span class="text"><strong>রিলেটেড</strong> প্রোডাক্ট</span></span>
    <span class="pull-right">
        <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
    </span>
</h4>

<div id="myCarousel-1" class="carousel carousel-normal slide">
    <div class="carousel-inner">

        <div class="active item">
            <ul class="thumbnails listing-products">

                @for (int i = 0; i < Math.Min(@Model.Related.Count, 3); i++)
                {
                    <li class="span3">
                        <div class="product-box">
                            <span class="sale_tag"></span>
                            @{
                                if (Model.Related[i].Images != null)
                                {
                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})'><img alt="" src="~/images/@Model.Related[i].Images[0]"></a><br />
                                }
                                else
                                {
                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                }
                            }

                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})' class="title">@Model.Related[i].TitleBn</a><br />
                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})'>@Model.Related[i].OriginBn</a>
                            <p class="price" id="@Model.Related[i].Id">&#2547 @Model.Related[i].Price</p>
                            <script>
                                var num = @Model.Related[i].Price;
                                $("#@Model.Related[i].Id")
                                    .text("৳ " +replaceNumbers(num.toString()));
                                console.log(replaceNumbers(num.toString()));

                            </script>
                        </div>
                    </li>
                }
            </ul>
        </div>

        @for (int i = 1; i < Math.Ceiling(@Model.Related.Count / 3.00); i++)
        {
            <div class="item">
                <ul class="thumbnails listing-products">

                    @for (int j = i * 3; j < Math.Min(@Model.Related.Count, (i * 3) + 3); j++)
                    {
                        <li class="span3">
                            <div class="product-box">
                                <span class="sale_tag"></span>
                                @{
                                    if (Model.Related[j].Images != null)
                                    {
                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})'><img alt="" src="~/images/@Model.Related[j].Images[0]"></a><br />
                                    }
                                    else
                                    {
                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                    }
                                }
                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})' class="title">@Model.Related[j].TitleBn</a><br />
                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})'>@Model.Related[j].OriginBn</a>
                                <p class="price" id="@Model.Related[j].Id">&#2547 @Model.Related[j].Price</p>
                                <script>
                                    var num = @Model.Related[j].Price;
                                    $("#@Model.Related[j].Id")
                                        .text("৳ " +replaceNumbers(num.toString()));
                                    console.log(replaceNumbers(num.toString()));

                                </script>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>





<h4 class="carousel-mobile title">
    <span class="pull-left"><span class="text"><strong>রিলেটেড</strong> প্রোডাক্ট</span></span>
    <span class="pull-right">
        <a class="left button" href="#myCarousel-mobile" data-slide="prev"></a><a class="right button" href="#myCarousel-mobile" data-slide="next"></a>
    </span>
</h4>

<div id="myCarousel-mobile" class="carousel carousel-mobile slide">
    <div class="carousel-inner">

        <div class="active item">
            <ul class="thumbnails listing-products">

                @for (int i = 0; i < Math.Min(@Model.Related.Count, 1); i++)
                {
                    <li class="span3">
                        <div class="product-box">
                            <span class="sale_tag"></span>
                            @{
                                if (Model.Related[i].Images != null)
                                {
                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})'><img alt="" src="~/images/@Model.Related[i].Images[0]"></a><br />
                                }
                                else
                                {
                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                }
                            }

                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})' class="title">@Model.Related[i].TitleBn</a><br />
                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})'>@Model.Related[i].OriginBn</a>
                            <p class="price" id="@Model.Related[i].Id">&#2547 @Model.Related[i].Price</p>
                            <script>
                                var num = @Model.Related[i].Price;
                                $("#@Model.Related[i].Id")
                                    .text("৳ " +replaceNumbers(num.toString()));
                                console.log(replaceNumbers(num.toString()));

                            </script>
                        </div>
                    </li>
                }
            </ul>
        </div>

        @for (int i = 1; i < Math.Ceiling(@Model.Related.Count / 1.00); i++)
        {
            <div class="item">
                <ul class="thumbnails listing-products">

                    @for (int j = i * 1; j < Math.Min(@Model.Related.Count, (i * 1) + 1); j++)
                    {
                        <li class="span3">
                            <div class="product-box">
                                <span class="sale_tag"></span>
                                @{
                                    if (Model.Related[j].Images != null)
                                    {
                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})'><img alt="" src="~/images/@Model.Related[j].Images[0]"></a><br />
                                    }
                                    else
                                    {
                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                    }
                                }
                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})' class="title">@Model.Related[j].TitleBn</a><br />
                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})'>@Model.Related[j].OriginBn</a>
                                <p class="price" id="@Model.Related[j].Id">&#2547 @Model.Related[j].Price</p>
                                <script>
                                    var num = @Model.Related[j].Price;
                                    $("#@Model.Related[j].Id")
                                        .text("৳ " +replaceNumbers(num.toString()));
                                    console.log(replaceNumbers(num.toString()));

                                </script>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
