@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Models.LiveAnimalModels.LiveAnimalDetailsViewModel;
<section class="header_text sub">
    <img class="pageBanner" src="~/themes/images/banner.png" alt="New products">
    <h4><span>Confirm Order</span></h4>
</section>
@if (Model.LiveAnimalDetails != null)
{
    <section class="main-content">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class=" span4 form-box">
                        <div class="mobile-text-center" style="margin-top: 7%;">
                            <h5 style="text-align: center;">Confirm Order</h5>
                        </div>
                        <div style="margin-top: -4%;">
                            <hr>

                        </div>
                        <div style="margin-top: -4%;">
                            <hr>

                        </div>
                        <div style="margin-top: 5%;">
                            @{ await Html.RenderPartialAsync("_OrderForm", Model.Order); }
                        </div>
                    </div>
                    <div class="span1"></div>
                    <div class="span5">
                        @{
                            if (Model.LiveAnimalDetails.Images != null && Model.LiveAnimalDetails.Images.Count > 0)
                            {
                                <a href="~/images/@Model.LiveAnimalDetails.Images[0]" target="_blank" class="thumbnail thumbnail-main" data-fancybox-group="group1" title="Description 1" id="big">
                                    <img alt="" src="~/images/@Model.LiveAnimalDetails.Images[0]" id="big-img">
                                </a>
                            }
                            else
                            {
                                <a href="~/static/noimage.png" class="thumbnail" data-fancybox-group="group1" title="Description 1" id="big">
                                    <img alt="" src="~/static/noimage.png" id="big-img">
                                </a>
                            }
                        }

                        <ul class="thumbnails small">
                            @{
                                if (Model.LiveAnimalDetails.Images != null && Model.LiveAnimalDetails.Images.Count > 0)
                                {
                                    @foreach (var image in Model.LiveAnimalDetails.Images)
                                    {
                                        <li class="span1 carousel-normal">
                                            <a class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="~/images/@image" alt=""></a>
                                        </li>
                                    }
                                    @foreach (var image in Model.LiveAnimalDetails.Images)
                                    {
                                        <li class="span1 carousel-mobile">
                                            <a class="thumbnail" href="~/images/@image" target="_blank" data-fancybox-group="group1" title="Description 2"><img src="~/images/@image" alt=""></a>
                                        </li>
                                    }
                                }
                            }


                        </ul>
                    </div>
                    <div class="span2">
                        <div class="mobile-text-center">
                            <h4>@Model.LiveAnimalDetails.Title </h4>
                        </div>
                        <div class="mobile-text-center" style="margin-top: -1%;">
                            <h5>@Model.LiveAnimalDetails.Origin</h5>
                        </div>

                        <div class="mobile-text-center">
                            <strong style="font-size: medium;">Color : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Color</span>
                        </div>
                        @* <div class="mobile-text-center"> *@
                        @*     <strong style="font-size: medium;">Location : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Location</span> *@
                        @* </div> *@
                        @if (!double.IsNaN(Model.LiveAnimalDetails.Height))
                        {
                            <div class="mobile-text-center">
                                <strong style="font-size: medium;">Height : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Height Feet</span>
                            </div>
                        }
                        else
                        {
                            <div class="mobile-text-center">
                                <strong style="font-size: medium;">Height : </strong> <span style="font-size: medium;">N/A</span>
                            </div>
                        }
                        @if (!double.IsNaN(Model.LiveAnimalDetails.Weight))
                        {
                            <div class="mobile-text-center">
                                <strong style="font-size: medium;">Live Weight : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Weight KG (approx.)</span>
                            </div>
                        }
                        else
                        {
                            <div class="mobile-text-center">
                                <strong style="font-size: medium;">Live Weight : </strong> <span style="font-size: medium;">N/A</span>
                            </div>
                        }
                        @if (!double.IsNaN(Model.LiveAnimalDetails.Teeth))
                        {
                            <div class="mobile-text-center">
                                <strong style="font-size: medium;">Teeth : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Teeth</span>
                            </div>
                        }
                        else
                        {
                            <div class="mobile-text-center">
                                <strong style="font-size: medium;">Teeth : </strong> <span style="font-size: medium;">N/A</span>
                            </div>
                        }
                        <div class="mobile-text-center" style="margin-top: 3%;">
                            <strong style="font-size: x-large;" id="@Model.LiveAnimalDetails.Id">&#2547 @Model.LiveAnimalDetails.Price </strong>
                        </div>
                        <script>
                            var num = @Model.LiveAnimalDetails.Price;
                            $("#@Model.LiveAnimalDetails.Id")
                                .text("৳ " + num.toLocaleString('en-IN'));
                            console.log(replaceNumbers(num.toString()));

                        </script>
                        @* <div class="mobile-text-center" style="margin-top: 7%;"> *@
                        @*     <h5 style="text-align: center;">Confirm Order</h5> *@
                        @* </div> *@
                        @* <div style="margin-top: -4%;"> *@
                        @*     <hr> *@
                        @* *@
                        @* </div> *@
                        @* <div style="margin-top: -4%;"> *@
                        @*     <hr> *@
                        @* *@
                        @* </div> *@
                        @* *@
                        @* <div style="margin-top: 5%;"> *@
                        @*     @{ await Html.RenderPartialAsync("_OrderForm", Model.Order); } *@
                        @* </div> *@
                    </div>
                </div>

            </div>
            @if (Model.LiveAnimalDetails.Description != null)
            {
                <div class="row">
                    <div class="span9" style="margin-left: 2.5%; ">
                        <ul class="nav nav-tabs" id="myTab" style="margin-left: 2.5%; ">
                            <li class="active"><a href="#home">Description</a></li>

                        </ul>
                        <div class="tab-content" style="margin-left: 3.5%;margin-top: -1%">
                            <div class="tab-pane active" id="home">
                                @if (!string.IsNullOrWhiteSpace(@Model.LiveAnimalDetails.Description))
                                {
                                    var lines = @Model.LiveAnimalDetails.Description.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);
                                    foreach (var line in lines)
                                    {
                                        <p>@line</p>
                                    }
                                }
                            </div >
                        </div>
                    </div>
                </div>
            }
            <div class="row" style="margin-left: 0%; ">

                <div class="span9" style="margin-left: 2.5%; ">
                    <br>


                    @{
                        if (Model.Related != null)
                        {
                            await Html.RenderPartialAsync("_CarouselEn", Model);
                        }
                        else
                        {
                            <p>No Related Product!!!</p>
                        }
                    }


                </div>
            </div>
        </div>

    </section>
                        }
else
{
    <h1>Product Is Not Available For Order</h1>
}
