@{
    ViewData["Title"] = "Live Animal";

}

@Html.Partial("_NavBar")

<section class="header_text sub">
    <img class="pageBanner" src="~/themes/images/pageBanner.png" alt="New products">
    <h4><span>Product Detail</span></h4>
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span9">
                    <a href="~/images/@ViewBag.LiveAnimalDetails.Images[0]" class="thumbnail" data-fancybox-group="group1" title="Description 1" id="big"><img alt="" src="~/images/@ViewBag.LiveAnimalDetails.Images[0]" id="big-img"></a>
                    <ul class="thumbnails small">
                        @foreach (var image in ViewBag.LiveAnimalDetails.Images)
                        {
                            <li class="span1">
                                <a class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="~/images/@image" alt=""></a>
                            </li>
                        }

                    </ul>
                </div>
                <div class="span3">
                    <div>
                        <h4>@ViewBag.LiveAnimalDetails.Title</h4>
                    </div>
                    <div style="margin-top: -1%;">
                        <h5>@ViewBag.LiveAnimalDetails.Origin</h5>
                    </div>

                    <div>
                        <strong style="font-size: medium;">Color : </strong> <span style="font-size: medium;">@ViewBag.LiveAnimalDetails.Color</span>
                    </div>
                    <div>
                        <strong style="font-size: medium;">Location : </strong> <span style="font-size: medium;">@ViewBag.LiveAnimalDetails.Location</span>
                    </div>
                    @if (ViewBag.LiveAnimalDetails.Sold == false)
                    {
                        <div style="margin-top: 15%;">
                            <strong style="font-size: medium; color: green;">In Stock </strong>
                        </div>
                    }
                    else
                    {
                        <div style="margin-top: 15%;">
                            <strong style="font-size: medium; color: red;">Sold Out </strong>
                        </div>
                    }


                    <div style="margin-top: 10%;">
                        <strong style="font-size: x-large; ">&#2547 @ViewBag.LiveAnimalDetails.Price </strong>
                    </div>
                    @if (ViewBag.LiveAnimalDetails.Sold == false)
                    {
                        <div style="margin-top: 10%;">
                            <form>
                                <input class="btn btn-success" style="font-size: 16px; padding: 3%;" value="Order Now" onclick="location.href = '@Url.Action("Order", "LiveAnimal")?id=@ViewBag.LiveAnimalDetails.Id'" >

                            </form>
                        </div>
                    }

                </div>
            </div>

        </div>
        <div class="row" style="margin-left: 0%; ">
            <div class="span9">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#home">Description</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">@ViewBag.LiveAnimalDetails.Description</div>
                    <div class="tab-pane" id="profile">
                        <table class="table table-striped shop_attributes">
                            <tbody>
                                <tr class="">
                                    <th>Size</th>
                                    <td>Large, Medium, Small, X-Large</td>
                                </tr>
                                <tr class="alt">
                                    <th>Colour</th>
                                    <td>Orange, Yellow</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="span9" style="margin-left: 2.5%; ">
                <br>
                <h4 class="title">
                    <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                    <span class="pull-right">
                        <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
                    </span>
                </h4>
                <div id="myCarousel-1" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                            <ul class="thumbnails listing-products">
                                @foreach (var animal in ViewBag.Related)
                                {
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <a href='@Url.Action("Details", "LiveAnimal", new { Id = @animal.Id })'><img alt="" src="~/images/@animal.Images[0]"></a><br />
                                            <a href='@Url.Action("Details", "LiveAnimal", new { Id = @animal.Id })' class="title">@animal.Title</a><br />
                                            <a href='@Url.Action("Details", "LiveAnimal", new { Id = @animal.Id })'>@animal.Origin</a>
                                            <p class="price">@animal.Price</p>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="footer-bar">
    <div class="row">
        <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
                <li><a href="./index.html">Homepage</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./contact.html">Contac Us</a></li>
                <li><a href="./cart.html">Your Cart</a></li>
                <li><a href="./register.html">Login</a></li>
            </ul>
        </div>
        <div class="span4">
            <h4>My Account</h4>
            <ul class="nav">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </div>
        <div class="span5">
            <p class="logo"><img src="~/themes/images/logo.png" class="site_logo" alt=""></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
            <br />
            <span class="social_icons">
                <a class="facebook" href="#">Facebook</a>
                <a class="twitter" href="#">Twitter</a>
                <a class="skype" href="#">Skype</a>
                <a class="vimeo" href="#">Vimeo</a>
            </span>
        </div>
    </div>
</section>
<section id="copyright">
    <span>Copyright 2013 bootstrappage template  All right reserved.</span>
</section>

<script src="~/themes/js/common.js"></script>
<script>

    $(document).ready(function () {


        $('.thumbnail').click(function () {
            console.log("clicked ");
            var images = $(this).find('img').attr('src');

            $('#big-img').attr("src", images);

        });

        //        $('#myCarousel-2').carousel({
        //            interval: 200
        //        });
    });
</script>
