@*
@model Models.Entities.Order;
*@
@model Models.LiveAnimalModels.LiveAnimalDetailsViewModel;
@{
    ViewData["Title"] = "Order";
    ViewBag.LiveAnimalDetailsId = Model.LiveAnimalDetails.Id;
    ViewBag.LiveAnimalDetailsSold = Model.LiveAnimalDetails.Sold;
}

@Html.Partial("_NavBar")

<section class="header_text sub">
    <<img class="pageBanner" src="~/themes/images/rsz_maxresdefault_2 (1).jpg" alt="New products">
    <h4><span>Product Detail</span></h4>
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span7">
                    @{
                        if (Model.LiveAnimalDetails.Images != null)
                        {
                            <a href="~/images/@Model.LiveAnimalDetails.Images[0]" class="thumbnail" data-fancybox-group="group1" title="Description 1" id="big">
                                <img alt="" src="~/images/@Model.LiveAnimalDetails.Images[0]" id="big-img">
                            </a>
                        }
                        else
                        {
                            <a href="~/static/noimage.png" class="thumbnail" data-fancybox-group="group1" title="Description 1" id="big">
                                <img alt="" src="~/static/noimage.png" id="big-img">
                            </a>
                        }
                    }
                    
                    <ul class="thumbnails small">
                        @{
                            if (Model.LiveAnimalDetails.Images != null)
                            {
                                @foreach (var image in Model.LiveAnimalDetails.Images)
                                {
                                    <li class="span1">
                                        <a class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="~/images/@image" alt=""></a>
                                    </li>
                                }
                            }
                        }
                        

                    </ul>
                </div>
                <div class="span5">
                    <div>
                        <h4>@Model.LiveAnimalDetails.Title </h4>
                    </div>
                    <div style="margin-top: -1%;">
                        <h5>@Model.LiveAnimalDetails.Origin</h5>
                    </div>

                    <div>
                        <strong style="font-size: medium;">Color : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Color</span>
                    </div>
                    <div>
                        <strong style="font-size: medium;">Location : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Location</span>
                    </div>
                    <div style="margin-top: 3%;">
                        <strong style="font-size: x-large; ">&#2547 @Model.LiveAnimalDetails.Price </strong>
                    </div>
                    <div style="margin-top: 7%;">
                        <h5 style="text-align: center;">Confirm Order</h5>
                    </div>
                    <div style="margin-top: -4%;">
                        <hr>

                    </div>
                    <div style="margin-top: -4%;">
                        <hr>

                    </div>

                    <div style="margin-top: 5%;">
                        @{ await Html.RenderPartialAsync("_OrderForm", Model.Order ); }
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="margin-left: 0%; ">
            <div class="span9">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#home">Description</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">@Model.LiveAnimalDetails.Description</div>
                    <div class="tab-pane" id="profile">
                        <table class="table table-striped shop_attributes">
                            <tbody>
                                <tr class="">
                                    <th>Size</th>
                                    <td>Large, Medium, Small, X-Large</td>
                                </tr>
                                <tr class="alt">
                                    <th>Colour</th>
                                    <td>Orange, Yellow</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="span9" style="margin-left: 2.5%; ">
                <br>
                <h4 class="title">
                    <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                    <span class="pull-right">
                        <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
                    </span>
                </h4>
                <div id="myCarousel-1" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                            <ul class="thumbnails listing-products">

                                @for (int i = 0; i < Math.Min(@Model.Related.Count, 3); i++)
                                {
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            @{
                                                if (Model.Related[i].Images != null)
                                                {
                                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})'><img alt="" src="~/images/@Model.Related[i].Images[0]"></a><br />
                                                }
                                                else
                                                {
                                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                                }
                                            }
                                            
                                            
                                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})' class="title">@Model.Related[i].Title</a><br />
                                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[i].Id})'>@Model.Related[i].Origin</a>
                                            <p class="price">@Model.Related[i].Price</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                        @for (int i = 1; i < Math.Ceiling(@Model.Related.Count / 3.00); i++)
                        {
                            <div class="item">
                                <ul class="thumbnails listing-products">

                                    @for (int j = i * 3; j < Math.Min(@Model.Related.Count, (i * 3) + 3); j++)
                                    {
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                @{
                                                    if (Model.Related[j].Images != null)
                                                    {
                                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})'><img alt="" src="~/images/@Model.Related[j].Images[0]"></a><br />
                                                    }
                                                    else
                                                    {
                                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                                    }
                                                }
                                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})' class="title">@Model.Related[j].Title</a><br />
                                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Related[j].Id})'>@Model.Related[j].Origin</a>
                                                <p class="price">@Model.Related[j].Price</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="footer-bar">
    <div class="row">
        <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
                <li><a href="./index.html">Homepage</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./contact.html">Contac Us</a></li>
                <li><a href="./cart.html">Your Cart</a></li>
                <li><a href="./register.html">Login</a></li>
            </ul>
        </div>
        <div class="span4">
            <h4>My Account</h4>
            <ul class="nav">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </div>
        <div class="span5">
            <p class="logo"><img src="~/themes/images/logo.png" class="site_logo" alt=""></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
            <br />
            <span class="social_icons">
                <a class="facebook" href="#">Facebook</a>
                <a class="twitter" href="#">Twitter</a>
                <a class="skype" href="#">Skype</a>
                <a class="vimeo" href="#">Vimeo</a>
            </span>
        </div>
    </div>
</section>
<section id="copyright">
    <span>Copyright 2013 bootstrappage template  All right reserved.</span>
</section>

<script src="~/themes/js/common.js"></script>
<script>

    $(document).ready(function () {


        $('.thumbnail').click(function () {
            console.log("clicked ");
            var images = $(this).find('img').attr('src');

            $('#big-img').attr("src", images);

        });

        $('#myCarousel-2').carousel({
            interval: 200
        });
    });
</script>
