@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Models.LiveAnimalModels.IndexViewModel
<section class="header_text">
    বাংলা ব্রিটিশ উপনিবেশে পরিণত হয়। আন্দোলনের ধারাবাহিকতায় ১৯৪৭ সালের ভারত বিভাগের সময়
    <br />পাকিস্তানের পূর্ব অংশ (পূর্ব পাকিস্তান) হিসেবে বাংলাদেশের সীমানা নির্ধারিত হয়। পূর্ব পাকিস্তানের প্রতি বৈষম্যের কারণে দীর্ঘ আন্দোলনের এক পর্যায়ে ১৯৭১ রক্তক্ষয়ী যুদ্ধের মাধ্যমে বাংলাদেশ স্বাধীন রা
</section>

<section class="main-content">
    <div class="row">
        <div class="span12">
            @if (Model != null)
            {
                <div class="row">
                    <div class="span12">
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
                            <span class="pull-right">
                                <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                            </span>
                        </h4>

                        <div id="myCarousel" class="myCarousel carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">

                                        @for (int i = 0; i < Math.Min(@Model.Featured.Count, 4); i++)
                                        {
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    @{
                                                        if (Model.Featured[i].Images != null)
                                                        {
                                                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Featured[i].Id})'><img alt="" src="~/images/@Model.Featured[i].Images[0]"></a><br />
                                                        }
                                                        else
                                                        {
                                                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Featured[i].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                                        }
                                                    }

                                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Featured[i].Id})' class="title">@Model.Featured[i].TitleBn</a><br />
                                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Featured[i].Id})'>@Model.Featured[i].OriginBn</a>
                                                    <p class="price">@Model.Featured[i].Price</p>
                                                    <script>
                                                        var num = @Model.Featured[i].Price;
                                                        console.log(replaceNumbers(num.toString()));
                                                        
                                                    </script>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                @for (int i = 1; i < Math.Ceiling(@Model.Featured.Count / 4.00); i++)
                                {
                                    <div class="item">
                                        <ul class="thumbnails listing-products">

                                            @for (int j = i * 4; j < Math.Min(@Model.Featured.Count, (i * 4) + 4); j++)
                                            {
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        @{
                                                            if (Model.Featured[j].Images != null)
                                                            {
                                                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Featured[j].Id})'><img alt="" src="~/images/@Model.Featured[j].Images[0]"></a><br />
                                                            }
                                                            else
                                                            {
                                                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Featured[j].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                                            }
                                                        }
                                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Featured[j].Id})' class="title">@Model.Featured[j].TitleBn</a><br />
                                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Featured[j].Id})'>@Model.Featured[j].OriginBn</a>
                                                        <p id="price" class="price">@Model.Featured[j].Price</p>
                                                        
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h2>No DAATA Found</h2>
            }

            <br />
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-2" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails listing-products">

                                    @for (int i = 0; i < Math.Min(@Model.Latest.Count, 4); i++)
                                    {
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                @{
                                                    if (Model.Latest[i].Images != null)
                                                    {
                                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Latest[i].Id})'><img alt="" src="~/images/@Model.Latest[i].Images[0]"></a><br />
                                                    }
                                                    else
                                                    {
                                                        <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Latest[i].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                                    }
                                                }

                                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Latest[i].Id})' class="title">@Model.Latest[i].TitleBn</a><br />
                                                <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Latest[i].Id})'>@Model.Latest[i].OriginBn</a>
                                                <p class="price">@Model.Latest[i].Price</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                            @for (int i = 1; i < Math.Ceiling(@Model.Latest.Count / 4.00); i++)
                            {
                                <div class="item">
                                    <ul class="thumbnails listing-products">

                                        @for (int j = i * 4; j < Math.Min(@Model.Latest.Count, (i * 4) + 4); j++)
                                        {
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    @{
                                                        if (Model.Latest[j].Images != null)
                                                        {
                                                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Latest[j].Id})'><img alt="" src="~/images/@Model.Latest[j].Images[0]"></a><br />
                                                        }
                                                        else
                                                        {
                                                            <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Latest[j].Id})'><img alt="" src="~/static/noimage.png"></a><br />
                                                        }
                                                    }
                                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Latest[j].Id})' class="title">@Model.Latest[j].TitleBn</a><br />
                                                    <a href='@Url.Action("Details", "LiveAnimal", new {Id = @Model.Latest[j].Id})'>@Model.Latest[j].OriginBn</a>
                                                    <p class="price">@Model.Latest[j].Price</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row feature_box">
                <div class="span4">
                    <div class="service">
                        <div class="responsive">
                            <img src="themes/images/feature_img_2.png" alt="" />
                            <h4>MODERN <strong>DESIGN</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="customize">
                            <img src="themes/images/feature_img_1.png" alt="" />
                            <h4>FREE <strong>SHIPPING</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="support">
                            <img src="themes/images/feature_img_3.png" alt="" />
                            <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_client">
    <h4 class="title"><span class="text">Our Partners</span></h4>
    <div class="row">
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/14.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/35.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/1.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/2.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/3.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="themes/images/clients/4.png"></a>
        </div>
    </div>
</section>
<section id="footer-bar">
    <div class="row">
        <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
                <li><a href="./index.html">Homepage</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./contact.html">Contac Us</a></li>
                <li><a href="./cart.html">Your Cart</a></li>
                <li><a href="./register.html">Login</a></li>
            </ul>
        </div>
        <div class="span4">
            <h4>My Account</h4>
            <ul class="nav">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </div>
        <div class="span5">
            <p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
            <br />
            <span class="social_icons">
                <a class="facebook" href="#">Facebook</a>
                <a class="twitter" href="#">Twitter</a>
                <a class="skype" href="#">Skype</a>
                <a class="vimeo" href="#">Vimeo</a>
            </span>
        </div>
    </div>
</section>
<section id="copyright">
    <span>Copyright 2013 bootstrappage template  All right reserved.</span>
</section>
