@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Models.LiveAnimalModels.LiveAnimalDetailsViewModel;
<section class="header_text sub">
    <img class="pageBanner" src="~/themes/images/banner1.png" alt="New products">
    <h4><span>অর্ডার বিস্তারিত</span></h4>
</section>

@if (@Model?.LiveAnimalDetails != null)
{
    @if (Model.Order != null)
    {
        @if (Model.Order.Contacted == false)
        {
            <section class="main-content">
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span9">

                                @{
                                    if (Model.LiveAnimalDetails.Images != null && Model.LiveAnimalDetails.Images.Count > 0)
                                    {
                                        <a href="~/images/@Model.LiveAnimalDetails.Images[0]" class="thumbnail thumbnail-main" data-fancybox-group="group1" title="Description 1" id="big">
                                            <img alt="" src="~/images/@Model.LiveAnimalDetails.Images[0]" id="big-img">
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="~/static/noimage.png" class="thumbnail" data-fancybox-group="group1" title="Description 1" id="big">
                                            <img alt="" src="~/static/noimage.png" id="big-img">
                                        </a>
                                    }
                                }
                                @{
                                    if (Model.LiveAnimalDetails.Images != null && Model.LiveAnimalDetails.Images.Count > 0)
                                    {
                                        <ul class="thumbnails small">
                                            @foreach (var image in Model.LiveAnimalDetails.Images)
                                            {
                                                <li class="span1">
                                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 2" href="~/images/@image"><img src="~/images/@image" alt=""></a>
                                                </li>
                                            }

                                        </ul>
                                    }
                                }

                            </div>
                        <div class="span3">
                            <div style="margin-top: 0%" class="mobile-text-center">
                                <strong style="font-size: x-large;font-size: x-large; color: white; background: var(--logoGreen); padding: 1%; padding-left: 3%; padding-right: 3%;"> প্রোডাক্ট বিস্তারিত</strong>
                            </div>
                            @if (Model.LiveAnimalDetails.TitleBn != null)
                            {
                                <div class="mobile-text-center">
                                    <h4>@Model.LiveAnimalDetails.TitleBn</h4>
                                </div>
                            }
                            else
                            {
                                <div class="mobile-text-center">
                                    <h4>N/A</h4>
                                </div>
                            }
                            @if (Model.LiveAnimalDetails.OriginBn != null)
                            {
                                <div class="mobile-text-center" style="margin-top: -1%;">
                                    <h5>@Model.LiveAnimalDetails.OriginBn</h5>
                                </div>
                            }
                            else
                            {
                                <div class="mobile-text-center" style="margin-top: -1%;">
                                    <h5>N/A</h5>
                                </div>
                            }
                            @if (Model.LiveAnimalDetails.ColorBn != null)
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">রং : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.ColorBn</span>
                                </div>
                            }
                            else
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">রং : </strong> <span style="font-size: medium;">N/A</span>
                                </div>
                            }
                            @if (!double.IsNaN(Model.LiveAnimalDetails.Height))
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">উচ্চতা : </strong> <span style="font-size: medium;" id="height">@Model.LiveAnimalDetails.Height Feet</span>
                                </div>
                                <script>
                                    var num = @Model.LiveAnimalDetails.Height;
                                    $("#height")
                                        .text(replaceNumbers(num.toString()) +" ফুট");
                                    console.log(replaceNumbers(num.toString()));
        
                                    </script>
                            }
                            else
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">উচ্চতা : </strong> <span style="font-size: medium;">N/A</span>
                                </div>
                            }
                            @if (!double.IsNaN(Model.LiveAnimalDetails.Weight))
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">ওজন : </strong> <span style="font-size: medium;" id="weight">@Model.LiveAnimalDetails.Weight KG</span>
                                </div>
                                <script>
                                    var num = @Model.LiveAnimalDetails.Weight;
                                    $("#weight")
                                        .text(replaceNumbers(num.toString()) + " কেজি");
                                    console.log(replaceNumbers(num.toString()));
        
                                    </script>
                            }
                            else
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">ওজন : </strong> <span style="font-size: medium;">N/A</span>
                                </div>
                            }
                            @if (!double.IsNaN(Model.LiveAnimalDetails.Teeth))
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;"> দাঁত : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Teeth</span>
                                </div>
                                <script>
                                    var num = @Model.LiveAnimalDetails.Teeth;
                                    $("#weight")
                                        .text(replaceNumbers(num.toString()) );
                                    console.log(replaceNumbers(num.toString()));
        
                                    </script>
                            }
                            else
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;"> দাঁত : </strong> <span style="font-size: medium;">N/A</span>
                                </div>
                            }
                            
                            
                            @* <div> *@
                            @*     <strong style="font-size: medium;">ঠিকানা : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Location</span> *@
                            @* </div> *@
                            @if (Model.LiveAnimalDetails.Sold == false)
                            {

                            }
                            else
                            {
                                <div class="mobile-text-center" style="margin-top: 15%;">
                                    <strong style="font-size: medium; color: red;">বিক্রয় হয়ে গেছে </strong>
                                </div>
                            }
                            <div class="mobile-text-center" style="margin-top: 5%;">
                                <strong style="font-size: x-large;" id="priceM">&#2547 @Model.LiveAnimalDetails.Price </strong>
                            </div>
                            <script>
                                        var num = @Model.LiveAnimalDetails.Price;

                                        $("#priceM")
                                            .text("৳ " + replaceNumbers(num.toString()));
                                        console.log(replaceNumbers(num.toString()));

                                </script>
                            
                            <div style="margin-top: 15%;margin-bottom: 3%" class="mobile-text-center">
                                <strong style="font-size: x-large;font-size: x-large; color: white; background: var(--logoGreen); padding: 1%; padding-left: 3%; padding-right: 3%;"> গ্রহণকারীর তথ্য</strong>
                            </div>
                            @if (Model.Order.Name != null)
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">নাম : </strong> <span style="font-size: medium;">@Model.Order.Name</span>
                                </div>
                            }
                            else
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">নাম : </strong> <span style="font-size: medium;">N/A</span>
                                </div>
                            }
                            @if (Model.Order.PhoneNumber != null)
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">ফোন : </strong> <span style="font-size: medium;">@Model.Order.PhoneNumber</span>
                                </div>
                            }
                            else
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">ফোন : </strong> <span style="font-size: medium;">N/A</span>
                                </div>
                            }
                            @if (Model.Order.Address != null)
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">ঠিকানা : </strong> <span style="font-size: medium;">@Model.Order.Address</span>
                                </div>
                            }
                            else
                            {
                                <div class="mobile-text-center">
                                    <strong style="font-size: medium;">ঠিকানা : </strong> <span style="font-size: medium;">N/A</span>
                                </div>
                            }

                            @if (Model.Order.Contacted)
                            {
                                <div class="mobile-text-center" style="margin-top: 15%;">
                                    <strong style="font-size: x-large; color: white; background: var(--logoGreen); padding: 1%; padding-left: 3%; padding-right: 3%;"> অর্ডার স্ট্যাটাস </strong>
                                </div>
                                <div class="mobile-text-center" style="margin-top: 5%;">
                                    <strong style="font-size: x-large; color: green;"> একসেপ্টেড </strong>
                                </div>

                                <form asp-action="OrderDetails">
                                    <input asp-for="Order.Id" value="@Model.Order.Id" style="display: none">
                                    <input asp-for="Order.Name" value="@Model.Order.Name" style="display: none">
                                    <input asp-for="Order.PhoneNumber" value="@Model.Order.PhoneNumber" style="display: none">
                                    <input asp-for="Order.Address" value="@Model.Order.Address" style="display: none">
                                    <input asp-for="LiveAnimalDetails" value="@Model.LiveAnimalDetails.Id" style="display: none">
                                    <input asp-for="LiveAnimalDetails.Title" value="@Model.LiveAnimalDetails.Title" style="display: none">
                                    <input asp-for="LiveAnimalDetails.Price" value="@Model.LiveAnimalDetails.Price" style="display: none">

                                    <div class="mobile-text-center" style="margin-top: 10%">
                                        <label for="checkboxId" style="word-wrap: break-word">
                                        <input type="checkbox" id="checkboxId" class="accept-tnc"/> আমি <a>শর্তাদি</a> মেনে নিচ্ছি
                                        </label>
                                    </div>
                                    <div class="mobile-text-center" style="margin-top: 3%;">
                                        <button class="paybill btn btn-success" disabled="disabled" style="background: #5D6975;font-size: 16px; padding: 3%; width: 70%; margin: auto">পরিশোধ করুন</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="mobile-text-center" style="margin-top: 15%;">
                                    <strong style="font-size: x-large; color: white; background: var(--logoGreen); padding: 1%; padding-left: 3%; padding-right: 3%;"> অর্ডার স্ট্যাটাস </strong>
                                </div>
                                <div class="mobile-text-center" style="margin-top: 5%;">
                                    <strong style="font-size: x-large; color: red;"> পেন্ডিং </strong>
                                </div>
                                @if (Model.LiveAnimalDetails.Sold == false)
                                {
                                    <div class="mobile-text-center" style="margin-top: 8%;">
                                        <strong style="font-size: large; color: green;"> অপেক্ষা করুন !! </strong>
                                    </div>
                                    <div class="mobile-text-center" style="margin-top: 1%;">
                                        <strong style="font-size: large; color: green;">শীগ্রই আপনার সাথে যোগাযোগ করা হবে </strong>
                                    </div>

                                }
                                else
                                {
                                    <div class="mobile-text-center" style="margin-top: 5%;">
                                        <strong style="font-size: large; color: red;"> দুঃখিত প্রোডাক্ট বিক্রি হয়ে গেছে </strong>
                                    </div>
                                }

                                <form asp-action="OrderDetails">
                                    <input asp-for="Order.Id" value="@Model.Order.Id" style="display: none" required="required">
                                    <input asp-for="Order.Name" value="@Model.Order.Name" style="display: none">
                                    <input asp-for="Order.PhoneNumber" value="@Model.Order.PhoneNumber" style="display: none">
                                    <input asp-for="Order.Address" value="@Model.Order.Address" style="display: none">
                                    <input asp-for="LiveAnimalDetails" value="@Model.LiveAnimalDetails.Id" style="display: none" required="required">
                                    <input asp-for="LiveAnimalDetails.Title" value="@Model.LiveAnimalDetails.Title" style="display: none">
                                    <input asp-for="LiveAnimalDetails.Price" value="@Model.LiveAnimalDetails.Price" style="display: none" required="required">


                                </form>


                            }

                        </div>
                        </div>

                    </div>

                </div>
            </section>
        }
        else
        {
            @if (Model.Order.PaymentExpire < DateTime.UtcNow)
            {
                <section class="main-content">
                    <div class="row">
                        <div class="span12" style="text-align: center">
                            <h5>Your Order Is Expired</h5>
                            <h5>Pay between 1 hour After Confirmation</h5><br />
                            <h5 style="color: red">Please Order Again  </h5>
                        </div>
                    </div>
                </section>

            }
            else
            {
                <section class="main-content">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span9">

                                    @{
                                        if (Model.LiveAnimalDetails.Images != null && Model.LiveAnimalDetails.Images.Count > 0)
                                        {
                                            <a href="~/images/@Model.LiveAnimalDetails.Images[0]" class="thumbnail thumbnail-main" data-fancybox-group="group1" title="Description 1" id="big">
                                                <img alt="" src="~/images/@Model.LiveAnimalDetails.Images[0]" id="big-img">
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="~/static/noimage.png" class="thumbnail" data-fancybox-group="group1" title="Description 1" id="big">
                                                <img alt="" src="~/static/noimage.png" id="big-img">
                                            </a>
                                        }
                                    }
                                    @{
                                        if (Model.LiveAnimalDetails.Images != null && Model.LiveAnimalDetails.Images.Count > 0)
                                        {
                                            <ul class="thumbnails small">
                                                @foreach (var image in Model.LiveAnimalDetails.Images)
                                                {
                                                    <li class="span1">
                                                        <a class="thumbnail" data-fancybox-group="group1" title="Description 2" href="~/images/@image"><img src="~/images/@image" alt=""></a>
                                                    </li>
                                                }

                                            </ul>
                                        }
                                    }

                                </div>
                                <div class="span3">
                                    <div style="margin-top: 0%" class="mobile-text-center">
                                        <strong style="font-size: x-large;font-size: x-large; color: white; background: var(--logoGreen); padding: 1%; padding-left: 3%; padding-right: 3%;"> প্রোডাক্ট বিস্তারিত</strong>
                                    </div>
                                    @if (Model.LiveAnimalDetails.TitleBn != null)
                                    {
                                        <div class="mobile-text-center">
                                            <h4>@Model.LiveAnimalDetails.TitleBn</h4>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center">
                                            <h4>N/A</h4>
                                        </div>
                                    }
                                    @if (Model.LiveAnimalDetails.OriginBn != null)
                                    {
                                        <div class="mobile-text-center" style="margin-top: -1%;">
                                            <h5>@Model.LiveAnimalDetails.OriginBn</h5>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center" style="margin-top: -1%;">
                                            <h5>N/A</h5>
                                        </div>
                                    }
                                    @if (Model.LiveAnimalDetails.ColorBn != null)
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">রং : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.ColorBn</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">রং : </strong> <span style="font-size: medium;">N/A</span>
                                        </div>
                                    }
                                    @if (!double.IsNaN(Model.LiveAnimalDetails.Height))
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">উচ্চতা : </strong> <span style="font-size: medium;" id="height">@Model.LiveAnimalDetails.Height Feet</span>
                                        </div>
                                        <script>
                                            var num = @Model.LiveAnimalDetails.Height;
                                            $("#height")
                                                .text(replaceNumbers(num.toString()) +" ফুট");
                                            console.log(replaceNumbers(num.toString()));
                
                                            </script>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">উচ্চতা : </strong> <span style="font-size: medium;">N/A</span>
                                        </div>
                                    }
                                    @if (!double.IsNaN(Model.LiveAnimalDetails.Weight))
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">ওজন : </strong> <span style="font-size: medium;" id="weight">@Model.LiveAnimalDetails.Weight KG</span>
                                        </div>
                                        <script>
                                            var num = @Model.LiveAnimalDetails.Weight;
                                            $("#weight")
                                                .text(replaceNumbers(num.toString()) + " কেজি");
                                            console.log(replaceNumbers(num.toString()));
                
                                            </script>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">ওজন : </strong> <span style="font-size: medium;">N/A</span>
                                        </div>
                                    }
                                    @if (!double.IsNaN(Model.LiveAnimalDetails.Teeth))
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;"> দাঁত : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Teeth</span>
                                        </div>
                                        <script>
                                            var num = @Model.LiveAnimalDetails.Teeth;
                                            $("#weight")
                                                .text(replaceNumbers(num.toString()) );
                                            console.log(replaceNumbers(num.toString()));
                
                                            </script>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;"> দাঁত : </strong> <span style="font-size: medium;">N/A</span>
                                        </div>
                                    }
                                                                
                                    @* <div> *@
                                    @*     <strong style="font-size: medium;">ঠিকানা : </strong> <span style="font-size: medium;">@Model.LiveAnimalDetails.Location</span> *@
                                    @* </div> *@
                                    @if (Model.LiveAnimalDetails.Sold == false)
                                    {

                                    }
                                    else
                                    {
                                        <div class="mobile-text-center" style="margin-top: 15%;">
                                            <strong style="font-size: medium; color: red;">বিক্রয় হয়ে গেছে </strong>
                                        </div>
                                    }
                                    <div class="mobile-text-center" style="margin-top: 5%;">
                                        <strong style="font-size: x-large;" id="priceM">&#2547 @Model.LiveAnimalDetails.Price </strong>
                                    </div>
                                    <script>
                                        var num = @Model.LiveAnimalDetails.Price;

                                        $("#priceM")
                                            .text("৳ " + replaceNumbers(num.toString()));
                                        console.log(replaceNumbers(num.toString()));

                                    </script>
                                    
                                    <div style="margin-top: 15%;margin-bottom: 3%" class="mobile-text-center">
                                        <strong style="font-size: x-large;font-size: x-large; color: white; background: var(--logoGreen); padding: 1%; padding-left: 3%; padding-right: 3%;"> গ্রহণকারীর তথ্য</strong>
                                    </div>
                                    @if (Model.Order.Name != null)
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">নাম : </strong> <span style="font-size: medium;">@Model.Order.Name</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">নাম : </strong> <span style="font-size: medium;">N/A</span>
                                        </div>
                                    }
                                    @if (Model.Order.PhoneNumber != null)
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">ফোন : </strong> <span style="font-size: medium;">@Model.Order.PhoneNumber</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">ফোন : </strong> <span style="font-size: medium;">N/A</span>
                                        </div>
                                    }
                                    @if (Model.Order.Address != null)
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">ঠিকানা : </strong> <span style="font-size: medium;">@Model.Order.Address</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center">
                                            <strong style="font-size: medium;">ঠিকানা : </strong> <span style="font-size: medium;">N/A</span>
                                        </div>
                                    }

                                    @if (Model.Order.Contacted)
                                    {
                                        <div class="mobile-text-center" style="margin-top: 15%;">
                                            <strong style="font-size: x-large; color: white; background: var(--logoGreen); padding: 1%; padding-left: 3%; padding-right: 3%;"> অর্ডার স্ট্যাটাস </strong>
                                        </div>
                                        <div class="mobile-text-center" style="margin-top: 5%;">
                                            <strong style="font-size: x-large; color: green;"> একসেপ্টেড </strong>
                                        </div>

                                        <form asp-action="OrderDetails">
                                            <input asp-for="Order.Id" value="@Model.Order.Id" style="display: none">
                                            <input asp-for="Order.Name" value="@Model.Order.Name" style="display: none">
                                            <input asp-for="Order.PhoneNumber" value="@Model.Order.PhoneNumber" style="display: none">
                                            <input asp-for="Order.Address" value="@Model.Order.Address" style="display: none">
                                            <input asp-for="LiveAnimalDetails" value="@Model.LiveAnimalDetails.Id" style="display: none">
                                            <input asp-for="LiveAnimalDetails.Title" value="@Model.LiveAnimalDetails.Title" style="display: none">
                                            <input asp-for="LiveAnimalDetails.Price" value="@Model.LiveAnimalDetails.Price" style="display: none">

                                            <div class="mobile-text-center" style="margin-top: 10%">
                                                <label for="checkboxId" style="word-wrap: break-word">
                                                <input type="checkbox" id="checkboxId" class="accept-tnc"/> আমি <a>শর্তাদি</a> মেনে নিচ্ছি
                                                </label>
                                            </div>
                                            <div class="mobile-text-center" style="margin-top: 3%;">
                                                <button class="paybill btn btn-success" disabled="disabled" style="background: #5D6975;font-size: 16px; padding: 3%; width: 70%; margin: auto">পরিশোধ করুন</button>
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <div class="mobile-text-center" style="margin-top: 15%;">
                                            <strong style="font-size: x-large; color: white; background: var(--logoGreen); padding: 1%; padding-left: 3%; padding-right: 3%;"> অর্ডার স্ট্যাটাস </strong>
                                        </div>
                                        <div class="mobile-text-center" style="margin-top: 5%;">
                                            <strong style="font-size: x-large; color: red;"> পেন্ডিং </strong>
                                        </div>
                                        @if (Model.LiveAnimalDetails.Sold == false)
                                        {
                                            <div class="mobile-text-center" style="margin-top: 8%;">
                                                <strong style="font-size: large; color: green;"> অপেক্ষা করুন !! </strong>
                                            </div>
                                            <div class="mobile-text-center" style="margin-top: 1%;">
                                                <strong style="font-size: large; color: green;">শীগ্রই আপনার সাথে যোগাযোগ করা হবে </strong>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="mobile-text-center" style="margin-top: 5%;">
                                                <strong style="font-size: large; color: red;"> দুঃখিত প্রোডাক্ট বিক্রি হয়ে গেছে </strong>
                                            </div>
                                        }

                                        <form asp-action="OrderDetails">
                                            <input asp-for="Order.Id" value="@Model.Order.Id" style="display: none" required="required">
                                            <input asp-for="Order.Name" value="@Model.Order.Name" style="display: none">
                                            <input asp-for="Order.PhoneNumber" value="@Model.Order.PhoneNumber" style="display: none">
                                            <input asp-for="Order.Address" value="@Model.Order.Address" style="display: none">
                                            <input asp-for="LiveAnimalDetails" value="@Model.LiveAnimalDetails.Id" style="display: none" required="required">
                                            <input asp-for="LiveAnimalDetails.Title" value="@Model.LiveAnimalDetails.Title" style="display: none">
                                            <input asp-for="LiveAnimalDetails.Price" value="@Model.LiveAnimalDetails.Price" style="display: none" required="required">


                                        </form>


                                    }

                                </div>
                            </div>

                        </div>

                    </div>
                </section>
            }
        }
    }
}

